@model List<CinemaBookingSystem.DB.Movies>


    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="Movie.html">Adventure</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Movie.html">Comedy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Movie.html">Drama</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Movie.html">Family</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Movie.html">Science Fiction</a>
        </li>
    </ul>
    <br />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="Movie.html">Adventure</a></li>
            <li class="breadcrumb-item active" aria-current="page">Movie Title</li>
        </ol>
    </nav>
    

    <h6>Directed by: Director <span class="badge badge-pill badge-light text-secondary">Playing on: Playing Time</span></h6>

    <div class="row">
        <div class="col-md-12">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>

        </div>
        <div class="col-md-12">
            <p class="text-justify">This is where the movie description goes.....</p>
        </div>
        <br />
        <button type="button" class="btn btn-primary">Watch</button>
    </div>

