@model BookingsModel


<h1>Movies you have selected</h1>

<table class="table table-striped">
    <tr>
        <th style="text-align: left">Movie</th>
        <th style="text-align: left">Playing date </th>
        <th style="text-align: left">Time</th>
        <th style="text-align: left">Price</th>        
        <th style="text-align: center">Action</th>

    </tr>
    


     <tr>
            <td>@Model.SelectedMovie.Title</td>
            <td>@Model.SelectedMovie.PlayingTime.ToString("dd.MM.yyyy")</td>
            <td>@Model.SelectedMovie.PlayingTime.ToString("HH:mm")</td>
            <td>@Model.SelectedMovie.PriceId</td>            
            <td style="text-align: center"><a asp-controller="Bookings" asp-action="Cancel">Cancel</a></td>

      </tr>
    
</table>
